{% extends "layout.twig" %}


{% block table %}
    <table class="table highlight">
        <tr>
            <th>idCaracter</th>
            <th>nombre</th>
            <th>estatus</th>
        </tr>
        {% for caracter in caracteres %}
            <tr>
                <td>{{ caracter.idCaracter }}</td>
                <td>{{ caracter.nombre }}</td>
                <td>{{ caracter.estatus }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}